{% extends "base.html" %}
{% block Title %}{{note.title}}{% endblock Title %}

{% block Header %}
<header class="h-16 px-6 border-b border-neutral-200
            bg-white flex items-center
            justify-between">
                

    <div class="flex items-center gap-3">

        <!-- Mobile menu -->
        <button class="md:hidden text-neutral-500">
            ☰
        </button>

        <span class="text-sm text-neutral-500">
            Update
        </span>

        <span class="text-neutral-300">
            /
        </span>

        <span class="text-sm font-medium">
            {{note.title}}
        </span>

    </div>


    <div class="flex items-center gap-2">

        <button class="px-3 py-2 text-sm text-neutral-500 hover:bg-sky-100 rounded-md">
           <span class="text-base leading-none">
            💾
            </span>
            Save
        </button>

        <button class="px-3 py-2 text-sm text-amber-500 hover:bg-yellow-100 rounded-md">
            <a href="{{url_for('notes.view_note', id=note.id)}}">
                <span class="text-base leading-none">
                👎
                </span>
                Discard
            </a>
        </button>
    </div>

</header>
{% endblock Header %}


<!-- CONTENT -->
{% block Content %}
<!-- VIEWER/EDITOR -->
<section class="max-w-3xl mx-auto px-6 py-12">
   <!-- TITLE -->
     <input
        type="text"
        value="{{note.title}}"
        placeholder="What's on your mind?"
        class="w-full text-4xl font-bold tracking-tight
                bg-transparent border-none outline-none
                placeholder:text-neutral-300 mb-6"
    >
    <textarea
        placeholder="Start writing..."
        class="w-full min-h-[500px] resize-none
                bg-transparent border-none outline-none
                text-lg leading-8 text-neutral-700
                placeholder:text-neutral-300"
    >{{note.content}}
    </textarea>
</section>
{% endblock Content %}